/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

a{
    text-decoration: none;
}


:root{
    --primary-col: #FD514D;
    --secondary-col: #E5B860;
    --white-col: #ffffff;
    --black-col:#000000;
}

p{
    margin-bottom: 0;
}







/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background-image: url("../images/sidebar.jpg");
    background-size: cover;
  } 


  .main {
    margin-left: 260px; /* Same as the width of the sidebar */

  }

  /* main carousel */

.main-slider{
    position: relative;
}


.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%,-50%);
    text-align: left;
}

  .carousel-head{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: var(--white-col); 

  }
  .carousel-head span{
    color: var(--primary-col);

  }


  .about-section{
    padding: 100px  10px;
  }

  .main-head{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: var(--black-col);
  }

  .para{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-col);
  }

  .btn-1{
    background: var(--primary-col);
    border-radius: 7px;
    padding: 10px 30px;
    color: var(--white-col);
  }

  .btn-2{
    background: var(--secondary-col);
    border-radius: 7px;
    padding: 10px 30px;
    color: var(--white-col);
  }




    /* latest project section */

    .latest-projects-section{
        padding: 100px 10px;
        background-color: #F3F3F3;
        position: relative;
        overflow-x: hidden;
      }
    

    
      @media (min-width: 1200px) {
        .latest-projects-section.container {
          max-width: calc((100% - 1140px) / 2 + 1140px) !important;
          margin-right: 0;
          padding-right: 0;
        }
        
        }
        
        @media (min-width: 1400px) {
        
        .latest-projects-section .container {
          max-width: calc((100% - 1320px) / 2 + 1320px) !important;
        }
        }
        
        
        @media (min-width:767px){
        .latest-projects-section .container {
          max-width: calc((100% - 1320px) / 2 + 1320px) !important;
          margin-right: 0;
          padding-right: 0;
        }
        }
    
    
    .latest-projects-box{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 10px;
    }
    
    .latest-projects-box img{
        width: 100%;
        height: 460px;
        object-fit: cover;
    }
    
    
    .latest-project-dtls{
        padding: 40px 10px 10px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: linear-gradient(180deg, rgba(229, 184, 96, 0.29) 0%, #E5B860 100%);
    }
    
    .latest-project-dtls .head{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: var(--white-col);
    }
    
    .project-location{
        color: var(--white-col);
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    
    .project-location i{
        font-size: 18px;
        padding-right: 10px;
    }
    
    
    .latest-project-slider .owl-nav{
        position: absolute;
        bottom: -2px;
        left: 10px;
    }
    
    .latest-project-slider .owl-nav .owl-prev i{
        padding: 10px 15px;
        background-color: var(--secondary-col);
        color: var(--black-col);
    }
    
    .latest-project-slider .owl-nav .owl-next i{
        padding: 10px 15px;
        background-color: #CECDCD;
        color: var(--black-col);
    }
    
    @media only screen and (max-width:999px){
        .latest-projects-section{
            padding: 60px 10px;
          }
        
    }
    @media only screen and (max-width:767px){
        .latest-projects-box img{
            height: 300px;
        } 
    }
    
   
    
/* client section */


.client-section{
    padding: 70px 10px;
    position: relative;

}

.client-slider .item .client-logo{
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-slider .item{
    padding: 40px 10px;
}

.client-slider .item .client-logo img{
    width: 160px;
}

@media only screen and (max-width:999px){
    .client-section{
        padding: 40px 10px 10px;
    }
}


/* service section */

.service-section{
    padding: 100px 10px;
    background-image: url("../images/service/service-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.service-card-section{
    margin-top: 60px;
}

.service-card{
    background-color: #F3F3F3;
    padding: 30px 15px 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.service-card-hover-bg{
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: var(--white-col);
    transition: 1s ease-in-out;
    z-index: -1;
}
.service-card-hover-bg::before{
    content: '';
    width: 100%;
    height: 10px;
    color: var(--primary-col);
    position: absolute;
    top: 0;
    left: 0;
    border-top: 7px solid var(--primary-col);
}

.service-card:hover .service-card-hover-bg{
    top: 0;
    left: 0;
}

.service-sm-img{
    width: 40px;
}


.service-card h6{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--black-col);
    margin-top: 10px;
}

.service-card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-col);
    margin-top: 10px;
}

.service-card a{
    color: var(--primary-col);
    margin-top: 20px;
    visibility: hidden;
    display: block;
    transition: all .5s ease-in-out;
}

.service-card:hover a{
    visibility: visible;
}




/* testimonial section */

.testimonial-section{
    padding: 100px 10px;
    background-color: var(--white-col);
    background-size: cover;
    background-repeat: no-repeat;

}




@media (min-width: 1200px) {
    .testimonial-section.container {
      max-width: calc((100% - 1140px) / 2 + 1140px) !important;
      margin-right: 0;
      padding-right: 0;
    }
    
    }
    
    @media (min-width: 1400px) {
    
    .testimonial-section .container {
      max-width: calc((100% - 1320px) / 2 + 1320px) !important;
    }
    }
    
    
    @media (min-width:767px){
    .testimonial-section .container {
      max-width: calc((100% - 1320px) / 2 + 1320px) !important;
      margin-right: 0;
      padding-right: 0;
    }
    }

.testimonial-slider{
    margin-top: 60px;
}

.testimonial-box{
    background: linear-gradient(180deg, #EFEFEF 0%, #F3F3F3 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-radius: 10px;
    padding: 40px 20px;
    margin: 10px 15px;
}

.profile-sec{
    display: flex;
    align-items: center;
}

.profile-sec .details{
    margin-left: 10px;
}

.profile-sec .details .name{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: var(--black-col);
}

.profile-sec .details .designation{
    font-size: 16px;
    line-height: 24px;
    color: var(--black-col);
}

.profile-sec .details .starRating{
    font-size: 10px;
    color: #D1AF78;
}



.testimonial-box .review {
    margin-top: 15px;
    padding: 15px 20px;
    height: 110px;
    overflow: scroll;
    overflow-x: hidden;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.testimonial-box .review p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: var(--black-col);
    padding-bottom: 5px;
}
.testimonial-box .review::-webkit-scrollbar {
    width: 6px;
}
.testimonial-box .review::-webkit-scrollbar-track {
    background: #d6d6d5;
    border-radius: 10px;
}
.testimonial-box .review::-webkit-scrollbar-thumb {
    background: #a5a0a0;
    box-shadow: 0px 1px 1px rgba(90, 89, 89, 0.25);
    border-radius: 10px;
    opacity: 1;
}


.testimonial-slider .owl-nav{
    position: absolute;
    bottom: -2px;
    left: 10px;
}

.testimonial-slider .owl-nav .owl-prev i{
    padding: 10px 15px;
    background-color: var(--secondary-col);
    color: var(--black-col);
}

.testimonial-slider .owl-nav .owl-next i{
    padding: 10px 15px;
    background-color: #CECDCD;
    color: var(--black-col);
}


@media only screen and (max-width:767px){
    .testimonial-box{
        margin: 10px 5px;
    }
}


/* cta section */

.cta-section{
    padding: 100px 0;
    background-color: var(--white-col);
}

.cta-section-img{
    background-image: url("../images/cta-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}


.cta-right-img{
    position: relative;
    padding: 60px 20px;

}


.cta-head{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: var(--black-col);
}

.cta-input input{
    background-color: #C7C7C7;
    border-style: none;
    padding: 8px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-col);
    outline: none;
}

.cta-input a{
    background: var(--primary-col);
    font-size: 16px;
    line-height: 24px;
    padding: 8px 10px;
    color: var(--white-col);

}
.cta-input a i{
    font-size: 16px;
    padding-left: 10px;
}


@media only screen and (max-width:999px){
    .cta-section-img{
        height: auto;
        padding: 50px 0;
    }
    .cta-head{
        font-size: 28px;
        line-height: 36px;
    }
    .cta-input input{
        margin-top: 30px;
    
    }
    .cta-section{
        padding: 40px 0px 20px;
    }

}

@media only screen and (max-width:767px){
    .cta-input{
        display: flex;
        flex-direction: column;
    
    }
    .cta-input input{
        margin-bottom: 10px;
    }
    .cta-input a{
        text-align: center;
    }
}




/* gallery section */

.gallerySection{
    padding: 10px 10px 80px;
    background-color: var(--white-col);
}

/* ---- .grid-item ---- */
/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  
  .grid-item {
    float: left;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  

/* footer */

footer{
    background-image: url("../images/ftr-image1.png");
    padding: 60px 10px 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ftr-logo img{
    width: 300px;
}

.ftr-desc{
    color: var(--white-col);
    margin: 30px 0 10px;
}

.ftr-link{
    font-size: 16px;
    color: var(--white-col);
    margin-top: 15px;
    display: block;
}


.ftr-link:hover{
    color: #EFEFEF;
    font-weight: 600;
}

.ftr-link-head{
    color: var(--white-col);
    margin: 30px 0 10px;
    font-size: 18px;
    font-weight: 600;
}

.ftr-sm a{
    color: var(--white-col);
    font-size: 20px;
    margin-right: 25px;
}

.ftr-sm a i:hover{
    font-size: 22px;
}


/* sidebar */



.sidebar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.sidebar-logo img{
    width: 200px;
}

.sidebar-links-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.sidebar-links-div .sidebar-links{
    font-size: 20px;
    line-height: 30px;
    color: var(--black-col);
    margin-top: 25px;
}

.sidebar-links-div .sidebar-links:hover{
    color: var(--secondary-col);
}

.sidebar-links-div .sidebar-links.active{
    color: var(--primary-col);
    font-weight: 600;
}


.sidebar-sm{
    position: fixed;
    left: 100px;
    bottom: 10px;
}

.sidebar-sm  a{
    color: var(--black-col);
    font-size: 20px;
    margin-right: 10px;
}




/* banner */

.banner{
    background-image: url("../images/banners/banner-1.png");
    padding: 130px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.about-banner{
    background-image: url("../images/banners/banner-1.png");
}

.contact-banner{
    background-image: url("../images/banners/banner-2.png");
}
.project-banner{
    background-image: url("../images/banners/banner-3.png"); 
}

.project-banner-1{
    background-image: url("../images/banners/banner-4.png"); 
}

.service-banner{
    background-image: url("../images/banners/banner-5.png"); 
}

  .banner-head h4{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
  }
  
  .breadcrump-bg{
    object-fit: cover;
  }
  
  .banner-links {
    display: block;
    text-align: center;
  }
  
  .banner-links a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: var(--bs-light);
    padding: 0 5px;
  }
  
  .banner-links .active {
    color: var(--bs-red-main);
  }
  
  .banner-links a:hover {
    color: var(--bs-light);
  }
  

  /* aboutUs-details-section */


  .aboutUs-details-section{
    padding: 100px 10px;
  }

  .about-section-heading h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  
/* mission and vision section */

.vision-mision-section{
    padding: 50px 10px 80px;
}


.mission-vision-box{
    background-image: url("../images/cta-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 20px 10px;
    background-color: #001A64;
    border-radius: 20px;
    color: var(--black-col);
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    min-height: 240px;
}




.mission-vision-box h3{
    font-size: 28px;
    font-weight: 600;
}


.mission-vision-box p{
    padding: 20px 0;
}

 .round-1{
    position: absolute;
    right: -200px;
    bottom: -200px;
    width: 160px;
    height: 160px;
    background-color: var(--primary-col);
    border-radius: 50%;
    z-index: 1;
    transition: .3s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.round-1 img{
    width: 60px;
}

.mission-vision-box:hover .round-1{
    width: 120px;
    height: 120px;
    bottom: -40px;
    right: -50px;
}

.core-values{
    margin-top: 40px;
}

.core-values h3{
    font-size: 28px;
    font-weight: 600;
    color: var(--primary-col);
}


.core-values ul{
    font-size: 22px;
    color: var(--secondary-col);
}



/*  */



/* --------------------------------- contact section css start ---------------------------------- */
.contact-section{

    display: flex;
    align-items: center;
    position: relative;
    padding: 100px 10px;
}
.contact-section .left-box{
    padding: 10px 50px;
    position: relative;
}
.contact-section .dots{
    position: absolute;
    top: 20px;
    opacity: 0.3;
    left: -15px;
}
.contact-section .left-box .star{
    position: absolute;
    right: 40px;
    opacity: 0.4;
    bottom: -50px;
}
.contact-section .left-box span{
    font-size: 16px;
    margin-bottom: 10px;
}
.contact-section .left-box h1{
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: var(--head-font);
}
.contact-section .left-box input{
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid rgb(143, 143, 143);
    margin-bottom: 28px;
    padding: 8px;
    padding-top: 5px;
}
.contact-section .right-box{
    background: var(--gray);
    padding: 35px 60px;
    box-shadow: var(--sm-shadow);
    position: relative;
}
.contact-section .left-box .key{
    position: absolute;
    right: 15px;
    opacity: 0.6;
    top: 35px;
}
.contact-section .right-box h5{
    font-synthesis: 25px;
    font-family: var(--head-font);
    margin-bottom: 20px;
    font-weight: bold;
}
.contact-section .right-box p{
    margin-bottom: 0px;
    margin-top: 8px;
}
.contact-section .right-box a{
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
    width: fit-content;
    margin-bottom: 8px;
}
.contact-section .right-box a::after{
    content: '';
    background: url('../img/right-top.png');
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: -20px;
    top: 2px;
}
.contact-section .right-box .map{
    font-weight: bold;
}
@media screen and (max-width: 992px) {
    .contact-section .left-box{
        margin-top: 45px;
        padding: 20px;
    }
    .contact-section .left-box .star{
        top: 130px;
        right: 0px;
    }
    .contact-section .left-box .btn-div{
        display: flex;
        justify-content: flex-end;
    }
    .contact-section .right-box{
        margin-top: 50px;
    }
}
@media screen and (max-width: 550px) {
    .contact-section .left-box h1{
        font-size: 55px;
    }
    .contact-section .left-box{
        padding: 10px;
    }
    .contact-section .right-box{
        padding: 25px;
    }
}



/* service-pg-section */

.service-pg-section{
    padding: 100px 10px;
}




/* project-card-section */

.project-card-section{
    padding: 100px 10px;
    overflow-x: hidden;
}

.interior-slider-section{
    padding: 100px 10px;
}



.interior-design-slider .owl-nav{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(50%, -50%);
}



.interior-design-slider .owl-nav button.owl-next{
    position: absolute;
    right: -38px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-col);
    color: var(--white-col);
}

.interior-design-slider .owl-nav button.owl-prev{
    position: absolute;
    left: -38px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-col);
    color: var(--white-col);
}


/* interior-project-details-section */

.interior-project-details-section{
    padding: 100px 10px;
}

.details-section-card{
    padding: 30px 10px;
    background-color: var(--primary-col);
    color: var(--white-col);
    padding: 30px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    margin-bottom: 20px;
}


.details-section-card .head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.details-section-card .head i{
    font-size: 22px;
    color: #000000;
}

.details-section-card .head span{
    font-size: 18px;
    font-weight: 600;
}



/* whatsapp */

.fixed-whats-app{
    position: fixed;
    top: 90%;
    right: 45px;
    z-index: 999;
  }
  

@media only screen and (max-width:767px){
    .fixed-whats-app{
        position: fixed;
        top: 90%;
        right: 25px;
    }
}


/* mobile navbar */

.navbar-brand img{
    width: 200px;
}

.hiraya-mob-navbar .nav-item .nav-link.active{
    color: var(--primary-col);
    font-weight: 600;
}

.hiraya-mob-navbar .nav-item .nav-link{
    color: var(--secondary-col);
    padding: 10px;
}

.navbar-toggler{
    border-style: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("../images/menu.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    border-style: none;
}



@media only screen and (min-width:999px){
    .hiraya-mob-nav{
        display: none;
    }
}



@media only screen and (max-width:999px){
    .sidenav{
        display: none;
    }
    .main{
        margin-left: 0px;
    }
}



@media only screen and (max-width:767px){
    .aboutUs-details-section{
        padding: 80px 10px 30px;
    }
    .testimonial-section{
        padding: 30px 10px 30px;
    }
    .latest-projects-box{
        margin: 5px;
    }
}